.eventsList {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include on-tablet {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  @media (min-width: 1300px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.eventListItem {
  width: 100%;
  height: 100%;
}

.emptyBlock {
  width: 100%;
  padding: 48px;

  font-size: 14px;
  line-height: 20px;
  text-align: center;

  color: var(--secondary-color);

  border: 0.8px dashed var(--border-color);
  border-radius: 14px;
}
