@use './variables' as *;

:root {
  --primary-color: #0a0a0a;
  --secondary-color: #737373;

  --background-color: #fff;
  --surface-color: #fff;
  --accent-color: #0068e0;
  --accent-hover: #2564e0cc;
  --accent-surface: #e9f2ff;
  --on-accent: #004396;

  --organizer-surface: #fe9a001f;
  --attendee-surface: #00bc7d1f;

  --attendee-color: #009867;
  --organizer-color: #e77000;
  --admin-color: #7c3aed;

  --error-color: #eb0005;
  --error-bgc: #e7000b1a;
  --error-hover: #e7000b33;
  --border-color: #e5e5e5;
  --button-bg: transparent;
  --button-hover: #f5f5f5;

  --overlay-bg: #0a0a0a66;

  --form-field-color: #fff;
  --background-hover: #f5f5f5;

  --light-gray-color: #ccced2;

  --requirement-bgc: #f5f5f599;
}

html.dark {
  --primary-color: #fafafa;
  --secondary-color: #a1a1a1;

  --background-color: #0a0a0a;
  --color: #ffffff0b;
  --surface-color: #171717;
  --accent-color: #0082f6;
  --accent-hover: #427ff6cc;
  --accent-surface: #132e4c;
  --on-accent: #ccdff9;

  --attendee-color: #00d393;
  --organizer-color: #ffb800;
  --admin-color:  #a78bfa;

  --error-color: #ff6466;
  --error-bgc: #ff64671a;
  --error-hover: #ff64674d;
  --border-color: #ffffff1a;
  --button-bg: #ffffff0b;
  --button-hover: #26262680;
  --form-filed-color: #0a0a0a;
  --background-hover: #ffffff13;

  --overlay-bg: #fafafa66;

  --light-gray-color: #ccced262;

  --requirement-bgc: #26262699;
}
