.tabs {
  display: flex;
  width:  fit-content;
  gap: 4px;
  border-bottom: 1px solid var(--border-color);
}

.tab {
  padding: 10px 16px;
  background: none;
  border: none;
  border-bottom: 2px solid transparent;
  color: var(--secondary-color);
  font-size: 15px;
  cursor: pointer;

  @include hover(color, var(--primary-color));

  &.active {
    color: var(--primary-color);
    border-bottom-color: var(--accent-color);
    font-weight: 600;
  }
}
