.progress {
  --progress-bar-bg: #f5f5f5;

  @include dark-theme {
    --progress-bar-bg: #262626;
  }
}

.title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;

  color: var(--primary-color);
}

.statsRow {
  font-size: 14px;
  line-height: 20px;
  color: var(--secondary-color);
}

.percentage {
  font-weight: 500;

  color: var(--primary-color);
}

.progressBarTrack {
  height: 8px;
  background-color: var(--progress-bar-bg); 
}

.progressBarFill {
  height: 100%;

  background-color: var(--accent-color);
  border-radius: 99px;
}
