.eventItem {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  @include surface-block(14px);

  overflow: hidden;

  position: relative;
}

.eventImage {
  width: 100%;
  aspect-ratio: 1.78;
  object-fit: cover;
}

.imgWrapper {
  overflow: hidden;
}

.eventSummary {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;

  padding: 16px;
}

.eventMeta {
  display: flex;
  justify-content: space-between;
}

.title {
  flex-grow: 1;
}

.eventAttributes {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
