.price {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.6px;

  color: var(--primary-color);
}

.row {
  display: flex;
  gap: 12px;
  align-items: start;

  font-size: 14px;
  line-height: 20px;
  color: var(--secondary-color);
}

.rowText {
  color: var(--primary-color);
}

.rowIcon {
  margin-top: 2px;
}

.rowContent {
  display: flex;
  flex-direction: column;
  align-items: start;
}
