.filterBar {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 6px;
}

.groupLabel {
  @include text-medium;

  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--primary-color);
}

.activeFilters {
  @include flex-row(5px);
  flex-wrap: wrap;
}

.clearAllButton {
  border-radius: 99px;
  padding: 4px 12px;
  background-color: transparent;
  border: 0.8px solid var(--border-color);

  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--secondary-color);

  transition: all 0.3s;

  &:hover {
    background-color: var(--background-hover);
    color: var(--primary-color);
  }
}
