.metaRow {
  display: flex;
  gap: 8px;
  align-items: center;
}

.title {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -0.75px;
  line-height: 36px;

  color: var(--primary-color);
}
